/* CSS for website */
div#comment-box {
    padding: 20px;
}
iv#js_right_nav.right-nav {
    top: 79px;
    right: 130px;
    width: 200px;
}
section {
    width: 100%;
}

h1 {
    color: #2674BA;
}

h2 {
    color: #0099CC;
}

h3 {
    color: #F77A0B;
}

h4 {
    color: #662D91;
}

h5 {
    color: #444444;
}

h6 {
}

th {
    background-color: #2674BA;
    color: white;
}

.page-inner {
    max-width: 1200px !important;
}

.right-nav {
    position: fixed;
    right: 130px;
    top: 79px;
    max-width: 350px;
    min-width: 250px;
}

.right-nav .title {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #777;
    background-color: #eee;
    cursor: default;
    text-align: center;
}

.right-nav .title .arrow {
    cursor: pointer;
    color: black;
    font-weight: bolder;
}

.right-nav a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right-nav a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.right-nav a.select {
    color: #0099CC;
}

.right-nav a:hover {
    color: #0099CC;
}

blockquote {
    margin: 0 0 15px !important;
    padding: 15px 20px !important;
    border-left: 5px solid #ddd !important;
    font-size: 14px !important;
    background-color: rgba(102, 128, 153, .05) !important;
    color: #333 !important;
}

.book .book-body .page-wrapper {
    background-color: #FCFCFC !important;
}

.book .book-body .page-wrapper .page-inner section {
    background-color: #FCFCFC !important;
}


