/* CSS for website */
div#comment-box {
    padding: 20px;
}
iv#js_right_nav.right-nav {
    top: 79px;
    right: 130px;
    width: 200px;
}
a.btn.pull-right.twitter-sharing-link.sharing-link, a.btn.pull-right.facebook-sharing-link.sharing-link, a.btn.pull-right.google-plus-sharing-link.sharing-link {
    display: none;
}


